.box{
    width: 200px;
    border: 1px solid #000000;    
    height: 400px;
    float:left;
    margin: auto 10px;
}
.box:nth-child(1) {
    background-color: yellow;
}
.box:nth-child(2) {
    background-color: orange;
}
.box:nth-child(3) {
    background-color: green;
}
.box:nth-child(4) {
    background-color: purple;
}
/* CSS untuk cssbox2.html*/
.containter{
    display: flex;
}
